<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://depenabotalertfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05ea9194-d97b-4b48-8499-3564fc14dd16/resourceGroups/RG-Vishnu/providers/Microsoft.Web/sites/DepenabotAlertFunc</ResourceId>
    <UserName>$DepenabotAlertFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://depenabotalertfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>